
.collapse{
    display: flex;
    justify-content: space-between;
}
#container img{
    width: 50%;
    height: 170px;
}
#container{
    
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
#container div{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
#container button{
    border: none;
    font-size: 15px;
    padding: 8px;
    margin-top: 50px;
    background-color: orange;
    border-radius: 5px;
}
/*.addAndBuyDiv #buybtn{
    border: none;
    font-size: 15px;
    padding: 8px;
    margin-top: 50px;
    background-color: orange;
    border-radius: 5px;
}*/
#buybtn{
    width: 100px;
}
/*.addAndBuyDiv{
    display: flex;
    justify-content: space-between;
}*/
#loading_div{
    text-align: center;
}
#loading_div img{
    margin-top: 100px;
    width: 50px;
    height: 50px;
}
@media (min-width: 481px) and (max-width: 768px) {
    #container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #addtocartbtn{
        margin-right: 8px;
    }
    #buybtn{
        margin-left: 8px;
    }
    
  }

@media (min-width: 769px) and (max-width: 1024px) {
    #container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #addtocartbtn{
        margin-right: 10px;
    }
    #buybtn{
        margin-left: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    #container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    #addtocartbtn{
        margin-right: 10px;
        
    }
    #buybtn{
        margin-left: 10px;
    }
}
@media (min-width: 1301px) and (max-width: 1400px) {
    #container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    #addtocartbtn{
        margin-right: 15px;
        
    }
    #buybtn{
        margin-left: 15px;
    }
}

@media (min-width: 1401px) and (max-width: 1700px) {
    #container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    #addtocartbtn{
        margin-right: 15px;
        
    }
    #buybtn{
        margin-left: 15px;
    }
}