.collapse{
    display: flex;
    justify-content: space-between;
}
#otp_div{
    margin-top: 60px;
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 50px;
}
input{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    text-align: center;
    margin-top: 50px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
input:focus{
    outline: 0;
}

button{
    border: none;
    background-color: #27be2e;
    padding: 10px;
    width: 100px;
    font-weight: bold;
    margin-top: 20px;
}
